.App {
  background-color: black;
  color: white;
  height: 100vh;
  padding: 20px;
}

.App-header {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  /* Adjust as needed */
}

.content {
  text-align: center;
  /* Center content horizontally */
  margin-top: 50vh;
  /* Move content 50% down the viewport */
  transform: translateY(-50%);
  /* Center content vertically */
  margin-left: 50px;
  /* Adjust as needed */
}

.content img {
  width: 200px;
  height: auto;
  margin-top: 20px;
  margin-right: 550px;
}

body {
  font-family: "Times New Roman Georgia", serif;
}

.description,
.additional-info {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: left;
}
